Repository Caoa-Montadora-de-Veiculos-Ltda/Protheus, pull requests merged in 2024-08, with the labels that each got.

#578 FAT005.004 | Erro ao transmitir as notas filhas de importação - Sem dadoS da DI
  SIGAFAT/Função/danfeii.prw
  SIGAFAT/Função/nfesefaz.prw
Labels: correção, protheus, SIGAFAT

#582 FAT001.001|Ajustes para emitir as notas de retorno das filiais da empresa 90 HMB
  Genericos/Funcao/ZGENFTE90.prw
Labels: melhoria, protheus, SIGAFAT

#584 GAP233 | Correção da tag xped do XML para faturamento dos HRs
  SIGAFAT/Função/nfesefaz.prw
Labels: correção, protheus, SIGAFAT

#590 FIS002.008|Incluídos campos de retenção de CSL
  SIGAFIS/Relatorio/ZFISR001.prw
Labels: melhoria, protheus, SIGAFIS

#594 GAP240 | Alteração na rotina NFESefaz.prw para desconsiderar a custom ização RetNT2005 quando houver somente Confis e Não Cofins ST.
  SIGAFAT/Função/nfesefaz.prw
Labels: correção, protheus, SIGAFAT

#597 GAP198 - Adicionar ao relatório filtro com usuário de inclusão deate e filtro com NF separado por - Original
  SIGAFIS/Função/ZFISF004.prw
  SIGAFIS/Relatorio/ZFISR001.prw
  SIGAFIS/Relatorio/ZFISR003.prw
  SIGAFIS/Relatorio/ZFISR004.prw
  SIGAFIS/Relatorio/ZFISR005.prw
  SIGAFIS/Relatorio/ZFISR006.prw
Labels: melhoria, protheus, SIGAFIS

#599 GAP242 | Ao tentar emitir a nota fiscal de importação apresenta erro de Pedido invalido
  Ponto de Entrada/EICDI154_PE.PRW
Labels: correção, protheus, SIGAEIC

#598 GAP241 | Solução para que o grupo tributário não seja trocado
  Ponto de Entrada/PEDVEI011_PE.prw
Labels: correção, protheus, SIGAVEI

#604 Ajustado novos fontes
  SIGAFIS/Função/ZFISF004.prw
  SIGAFIS/Relatorio/ZFISR005.prw
  SIGAFIS/Relatorio/ZFISR010.prw
  SIGAFIS/Relatorio/ZFISR011.prw
  SIGAFIS/Relatorio/ZFISR013.prw
  SIGAFIS/Relatorio/ZFISR014.prw
Labels: melhoria, protheus, SIGAFIS

#606 GAP240 | Alteração na rotina NFESefaz.prw para desconsiderar a customização RetNT2005 quando houver somente Cofins e Não Cofins ST
  SIGAFAT/Função/nfesefaz.prw
Labels: correção, protheus, SIGAFAT

#611 GAP248 | Melhoria na Onda para Itens Similar e quantidade de Itens Substituto
  SIGAPEC/Classes/SaldoCAOAPEC.PRW
  SIGAPEC/Funcao/ZPECF008.PRW
  SIGAPEC/Funcao/ZPECFUNA.PRW
Labels: correção, protheus, SIGAPEC

#612 Ajuste nos layouts
  SIGAFIS/Relatorio/ZFISR010.prw
  SIGAFIS/Relatorio/ZFISR013.prw
  SIGAFIS/Relatorio/ZFISR014.prw
Labels: correção, protheus, SIGAFIS

#614 GAP249 | Atualização da Consulta de Saldo do WIS
  SIGAPEC/Classes/SaldoCAOAPEC.PRW
  SIGAPEC/Funcao/ZPECFUNA.PRW
Labels: correção, protheus, SIGAPEC

#616 GAP250 | Inclusão das TAGS No XML FCI, Pedido, Item Pedido
  Ponto de Entrada/PEDVEI011_PE.prw
  SIGAFAT/Função/nfesefaz.prw
Labels: correção, protheus, SIGAFAT

#617 GAP250.1 | Inclusão das TAGS No XML FCI, Pedido, Item Pedido
  SIGAFAT/Função/nfesefaz.prw
Labels: correção, protheus, SIGAFAT

#618 GAP250.2 | Inclusão das TAGS No XML FCI, Pedido, Item Pedido
  SIGAFAT/Função/nfesefaz.prw
Labels: correção, protheus, SIGAFAT

#621 GAP251 | Nao está calculando e deduzindo o valor da comissao e ICMS ST das vendas diretas e vendas PCD
  Ponto de Entrada/VEIA060CAOA_PE.prw
  SIGAFAT/Função/ZFATF019.prw
  SIGAVEI/Função/CMVVEI01.prw
  SIGAVEI/Função/CMVVEI02.prw
Labels: correção, protheus, SIGAFAT
