Repository Caoa-Montadora-de-Veiculos-Ltda/Protheus, pull requests merged in 2024-09, with the labels that each got.

#624 GAP252 | Correção da onda para gerar picking quando o saldo da peça similar é menor que o saldo da solicitada
  SIGAPEC/Classes/SaldoCAOAPEC.PRW
  SIGAPEC/Funcao/ZPECF008.PRW
  SIGAPEC/Funcao/ZPECFUNA.PRW
Labels: correção, protheus, SIGAPEC

#626 GAP253 | contabilizada, só que a nota fiscal não foi integrada ao SAP e também não aparece na tabela SZ7.
  Integracoes/SAP/ZGENSAP.prw
Labels: correção, protheus, SIGAFAT

#630 GAP256 | Alterar Pedido + Item do para 5500012312 + 000040
  SIGAFAT/Função/nfesefaz.prw
Labels: correção, protheus, SIGAPEC

#635 GAP258 | Inclusão de Semáforo no Processo da Onda #632
  Integracoes/RgLog - SILT/ZWSR012.prw
  SIGAPEC/Funcao/ZPECF008.PRW
Labels: melhoria, protheus, SIGAPEC

#638 GAP260 | BLOCO K SAFX108, desde que já tenham itens consumidos na Saf…
  Integracoes/MasterSaf/CMVMSF06.prw
Labels: correção, protheus, SIGAVEI

#648 GAP190 | Importar um arquivo csv com todos os chassis na rotina de integração com SERPRO (CVMSER01).
  Integracoes/SERPRO/CVMSER01.prw
  SIGAVEI/Função/ZVEIF006.PRW
Labels: melhoria, protheus, SIGACOM

#647 GAP262|Problemas na Onda do Sigapec de Status e Errorlog.
  Ponto de Entrada/OX004APV_PE.prw
  SIGAPEC/Funcao/ZPECF008.PRW
Labels: correção, protheus, SIGAPEC

#650 COM003.005 | Ajustar os relatorio ZCOMR001 e ZCOMR004 para add Valor de …
  SIGACOM/Relatorio/ZCOMR001.PRW
  SIGACOM/Relatorio/ZCOMR004.PRW
Labels: melhoria, protheus, SIGACOM

#652 GAP265 | Estamos com vários orçamentos que já foram gerado ondas e o status não mudou para "S", ou seja, está em branco
  SIGAPEC/Funcao/ZPECF008.PRW
  SIGAPEC/Funcao/ZPECFUNA.PRW
Labels: correção, protheus, SIGAPEC

#654 COM001.006 | Verificação de valor do frete para o Valor Total
  SIGACOM/Relatorio/ZCOMR004.PRW
Labels: melhoria, correção, protheus, SIGACOM

#656 GAP267 - Desconsiderar o array aICMSST qd nao houver imposto
  SIGAFAT/Função/nfesefaz.prw
Labels: correção, protheus, SIGAFAT
